.advantages-section {
  padding-bottom: 47px;
}

.advantages-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-icon-container {
  @extend %display-center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
