.clients-section .section-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-icon {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
