.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-bgc);
}
.footer a {
  text-decoration: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-address {
  margin-right: 70px;
}
.logo-light {
  display: block;
  margin-bottom: 20px;
  color: var(--primery-bgc);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.footer-item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address {
  color: var(--primery-bgc);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-list-title {
  margin-bottom: 20px;

  font-size: 14px;
  text-transform: uppercase;
  color: var(--primery-bgc);
}

.social-list-footer {
  display: flex;
}

.footer .social-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer .social-list-icon {
  fill: var(--primery-bgc);
}

.container-footer-form {
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.footer-form-title {
  margin-bottom: 20px;

  color: var(--primery-bgc);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--primery-bgc);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-form-button {
  @extend %display-center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primery-bgc);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-hover-color);
  }
}

.footer-form-icon {
  margin-left: 10px;
}
